@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Playfair+Display&family=Roboto:wght@100;300&display=swap');

.navbar{
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo{
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  color: black;
  font-weight: bold;
}

.options{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn_page{
  border: 1px solid transparent;
  padding: 5px 10px;
}

.btn_page:hover{
  border-bottom: 1px solid black;
  transition: 1s;
}

.container{
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 15px;
}
.card > time, .card > p{
  font-family: 'Noto Serif', serif;
}

.list{
  width: 60%;
}

.list > h2{
  font-size: 20px;
  font-weight: bolder;
  margin-left: 3%;
}

.about{
  width: 20%;
  height: fit-content;
  color: gray;
  text-align: center;
}

.profile{
  margin: 2% auto;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.social{
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 1%;
  margin: 5% auto;
  justify-content: space-around;
}

.btn_social{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}