@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Playfair+Display&family=Roboto:wght@100;300&display=swap');

.container{
  width: 70%;
  height: fit-content;
  margin: 2% auto;
}

.post{
  border: 1px solid white;
  padding: 15px;
  font-family: 'Noto Serif', serif;
}

.post > h1, .post > h2, .post > h3,.post > h4, .post > h5, .post > h6{
  text-align: center;
  margin: 1%;
}

.post > pre{
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: auto;
  width: 90%;

}

.post > p > a > img{
  width: 90%;
  margin: 5%;
}

.btn_coffee{
  width: 200px;
  margin: 2% auto;
}

.footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 5vh;
  width: 100%;
  margin-top: auto;
}