.main{
  margin: 2% auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  padding: 5px;
}

.article{
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

.footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 5vh;
  width: 100%;
  margin-top: auto;
}

.technology{
  border-radius: 3px;
  margin: 3px;
  color: rgb(2, 2, 82);
  background-color: rgba(9, 106, 186, 0.819);
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.title{
  display: flex;
  justify-content: space-between;
}

.link{
  margin: 0 3px;
  width: 24px;
  height: 24px;
}

.links{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.listtech{
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

@media (max-width: 1200px){
  .main{
    grid-template-columns: repeat(2, 1fr);
  }
  .article{
    padding: 10px;
  }
}

@media (max-width: 850px){
  .main{
    grid-template-columns: repeat(1, 1fr);
  }
  .article{
    padding: 5px;
  }
}